<<<<<<< Updated upstream
/*@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/russoone/v9/Z9XUDmZRWg6M1LvRYsHOz8mJ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  font-family: 'Open Sans', 'Nanum Gothic';
  font-size: 16px;
  background-color: #fff;
}*/

=======
>>>>>>> Stashed changes
.staff {
  position: relative;
  line-height: 10px;
  display: block;
  margin: 0px 35px;
  margin-bottom: 70px;
  vertical-align: top;
}

.staff-name {
  font-family: 'Russo One';
  font-size: 20px;
  margin-bottom: 20px;
	margin-top: 20px;
}

.staff-twitter {
  font-weight: 700;
	margin-bottom: 20px;
}

.staff-twitter a {
	text-decoration: none;
	color: inherit;
}

.staff-img {
  padding:0px;
  display:inline-block;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  vertical-align: top;
  margin-right: 10px;
margin-top: 20px
}

.staff-header {
  display:inline-block;
  align-content: center;
}

.staff-team {
  border: 1px solid #B42B2B;
  border-radius: 8px;
  width:max-content;
  color: #B42B2B;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  padding: 5px 10px;
  margin-bottom: 15px;
}

.staff-languages{
  font-size: 12px;
  margin: 7px 0px;
}

.staff-rating {
  position: relative;
}

.staff-rating svg {
  display: inline-block;
  margin: 2px 0px;
  top: 4px;
  position: relative
}

.staff-rating p{
  display: inline-block;
  font-size:14px;
  margin: 7px 0px;
}
