.card {
	padding: 1em;
	margin-right: 1em;
	margin-bottom: 2em;
 	border-radius: 1em;
  	width: 25em;
  	height: 4em;
  	background: #EFF0F6;
  	color:#2F3436;
  	display: inline-block;
  	vertical-align:top;
	position: relative;
	transition: background .5s;
}



.yellow  {
	box-shadow: 0px 6px #F2EA1B;
}

.card.yellow:hover {
	background: #F2EA1B;
	transition: background .5s;
}

.blue {
		box-shadow: 0px 6px #383D8E;
}

.card.blue:hover {
	background: #383D8E;
	transition: background .5s;
}

.card p {
	margin-left: .8em;
	margin-top: .3em;
	line-height: 1.5em;
}

@media screen and (max-width: 748px){
	.card {
		width: 90%;
		height: 3em;
		border: 1px solid #F2ea1b;
		border-radius: .6em;
		box-shadow: 0px 0px #fff;
		background: none!important;
		margin-left: 1em;
	}

	.card p {
		font-size: 12px;
		font-weight: bold;
		margin: 0em 0em 0em 1em;
	}
}
